__pycache__/
test_videos/
test_images/
video_clips_tmp/
weights/image_encoder
weights/sd-vae-ft-mse
weights/tensorrt
weights/onnx/unet_work
weights/onnx/unet_work_opt

*.onnx
*.pth
*.engine
*.bin
*.depreciated
*.ipynb
*.mp4
*.mkv